{% extends "base.html" %}

{% block content %}
<div class="box">
    <div class="box-header">
      <h1 class="box-title">{{ page_title }}</h1>
      <a href="{% url 'server:cabinet_create' %}" class="btn bg-purple btn-sm pull-right">添加机柜</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="well">
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control" name="name" type="text" value="{{ request.GET.name }}" placeholder="机柜名">
          </div>
          <button id="search_btn" type="submit" class="btn btn-default">查询</button>
        </form>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table id="" class="table table-bordered table-hover" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center">机柜名称</th>
                <th class="text-center">机柜位置</th>
                <th class="text-center">所在机房</th>
                <th class="text-center">U数</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for cabinet in cabinets %}
              <tr role="row" class="odd">
                <td class="text-center"><a href="#">{{ cabinet.name }}</a></td>
                <td class="text-center"><small> {{ cabinet.address }}</small></td>
                <td class="text-center"> {{ cabinet.engine }}</td>
                <td class="text-center"> {{ cabinet.u_number }}</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a type="button" href="#" data-url="{% url 'server:cabinet_update' cabinet.pk %}" class="edit-btn btn btn-primary btn-xs">编辑</a>
                    <a type="button" href="{% url 'server:cabinet_detail' cabinet.pk %}" class="btn btn-success btn-xs">详情</a> <!--TODO用于存放机柜图 -->
                    <a type="button" href="#" class="btn btn-danger btn-xs">删除</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
          {% include 'paginator.html' %}
      </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}

{% block footer_script %}
<script>

$(function(){
    $("#assets_menu").addClass('active menu-open');
    $("#menu_cabinet").addClass('active');
    $(".edit-btn").on('click', function(e) {
        e.preventDefault();
        var url = $(this).attr('data-url');
        ui.box({
            title: '编辑标签',
            size: 'lg',
            footer: false,
            remote: url
        });
    });

})
</script>
{% endblock %}
