{% extends "base.html" %}
{% load humansize %}

{% block content %}

<section id="cd-timeline" class="cd-container">
        {% for line in lines %}
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
			</div><!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>{{ line.get_event_display }}</h2>
				<p>{{ line.note }}</p>
				<span class="cd-date">{{ line.create_time|date:'Y-m-d H:i' }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
        {% endfor %}
	</section> <!-- cd-timeline -->
{% endblock %}

{% block footer_script %}
    <script>
    $("#assets_menu").addClass('active menu-open');
    $("#menu_server").addClass('active');

$(function(){
	var $timeline_block = $('.cd-timeline-block');
	//hide timeline blocks which are outside the viewport
	$timeline_block.each(function(){
		if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
			$(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
		}
	});
	//on scolling, show/animate timeline blocks when enter the viewport
	$(window).on('scroll', function(){
		$timeline_block.each(function(){
			if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
				$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
			}
		});
	});
});
</script>

<div style="display:none">
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6f798e51a1cd93937ee8293eece39b1a' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5718743'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/stat.php%3Fid%3D5718743%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
{% endblock %}