{% extends "base.html" %}


{% block content %}
<div class="box">
<div class="box-header">
    <h4 class="box-title">{{ page_title }}</h4>
</div>
<!-- /.box-header -->
    <div class="box-body">
        <div>

    <form class="form-horizontal" id="createForm" action="" method="post">{% csrf_token %}
      <div class="box-body">
      {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label class="col-sm-2 control-label">{{ field.label }}
              {% if field.field.required %}
                <span class="text-red">*</span>
              {% endif %}
            </label>
            <div class="col-sm-8">
                {{ field }}
            </div>
            <span class="help-block">
              {% for error in field.errors %}
                  {{ error }}
              {% endfor %}
              {{ field.help_text }}
            </span>
        </div>
        {% endfor %}
        <div class="box-footer text-center">
            <button id="createBtn" type="button" class="btn btn-info">提交</button>
            <p class="text-center"><i id='iconWait'></i></p>
        </div>
      </div>
    </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_script %}
<script>
$(function() {
     $("select").select2({});
    $("#assets_menu").addClass('active menu-open');
    $("#menu_network").addClass('active');
    $('#createBtn').on('click', function(e){
        e.preventDefault();
        Net.post({
            url: "{% url 'network:network_create' %}",
            data: $("#createForm").serialize(),
            btn: $('#createBtn'),
            icon:$('#iconWait'),
            go: "{% url 'network:network_list' %}",
        });
    });
    $("#id_floor").on('focus',function(e){
         $('#id_floor').val("");
    });
    $("#id_floor").on('blur',function(e){
         var cabinet=document.getElementById("select2-id_cabinet-container").innerText;
         var floor=$("#id_floor").val()
         $.ajax({
             url: "{% url 'server:check_floor' %}",//json文件位置
             data: {'cabinet':cabinet,'floor':floor},
             type: "get",//请求方式为get
             dataType: "json", //返回数据格式为json
             success: function(data) {//请求成功完成后要执行的方法
                if (data.res){
                    alert(cabinet+"的"+floor+"已经存在设备,请重新输入");
                    $('#id_floor').val("");
                }
           }
         })
        });

});
</script>
{% endblock %}
