{% extends "base.html" %}

{% block content %}
<div class="box">
    <div class="box-header">
      <h1 class="box-title">{{ page_title }}</h1>
      <a href="{% url 'auto:auto_create' %}" class="btn bg-purple btn-sm pull-right">自定义规则</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="well">
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control" name="name" type="text" value="{{ request.GET.name }}" placeholder="名称">
          </div>
          <button id="search_btn" type="submit" class="btn btn-default">查询</button>
        </form>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table id="" class="table table-bordered table-hover" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center">序号</th>
                <th class="text-center">名称</th>
                <th class="text-center">应用集</th>
                <th class="text-center">监控项</th>
                <th class="text-center">触发器</th>
                <th class="text-center">图形</th>
                <th class="text-center">自动发现</th>
                <th class="text-center">链接的模板</th>
                <th class="text-center">已链接到</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for auto in autos %}
              <tr role="row" class="odd">
                <td class="text-center"><a href="#">{{ auto.name }}</a></td>
                <td class="text-center"><a href="#">{{ auto.ippool.subnet }}</a></td>
                <td class="text-center"><small> {{ auto.start_ip }}</small></td>
                <td class="text-center"> {{ auto.end_ip }}</td>
                <td class="text-center"> {{ auto.team }}</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a type="button" href="{% url 'auto:auto_detail' auto.pk %}" data-url="#" class="detail-btn btn btn-success btn-xs">详情</a>
                    <a type="button" href="#" data-url="{% url 'auto:auto_update' auto.pk %}" class="edit-btn btn btn-warning btn-xs">编辑</a>
                    <a type="button" href="#" class="btn btn-danger btn-xs">删除</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
          {% include 'paginator.html' %}
      </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}

{% block footer_script %}
<script>

$(function(){
    $("#assets_menu").addClass('active menu-open');
    $("#menu_auto").addClass('active');
    $(".edit-btn").on('click', function(e) {
        e.preventDefault();
        var url = $(this).attr('data-url');
        ui.box({
            title: '编辑标签',
            size: 'lg',
            footer: false,
            remote: url
        });
    });
})
</script>
{% endblock %}
